<!DOCTYPE html>
<html>
<head>
	<title>User List</title>
</head>
<body>
	<h1>User List</h1>

	<a href="/home">Back</a> |
	<a href="/logout">logout</a> 
	<br>
	<br>

	<table border="1" width="400px" >
		<tr>
			<th>ID</th>
			<th>USERNAME</th>
			<th>TYPE</th>
			<th>Action</th>
		</tr>

		{% for member in user %}
		<tr>
			<td>{{ member.id }}</td>
			<td>{{ member.uname }}</td>
			<td>{{ member.type }}</td>
			<td>
				<a href="/home/edit/{{ member.id }}">Edit</a> |
				<a href="/home/delete/{{ member.id }}">Delete</a> 
			</td>
		</tr>
		{% endfor %}
	</table>
</body>
</html>